{% extends 'computacao/layout.html' %}

{% block main %}
    <main class="col-sm-8 text-center">
        <h2>{{ maquina.nome|title }}</h2>
        <p>{{ maquina.descricao }}.</p>
        <table align="center">
            <tr align="left">
                <td>
                    <p><b>Quíntuplo da Máquina de Turing:</b></p>
                    <ul>
                    <li>Alfabeto: {{ maquina.printAlfabeto }} </li>
                    <li>Estados: {{ maquina.printEstados }}</li>
                    <li>Estado inicial: {{ maquina.estadoInicial }}</li>
                    <li>Estados aceitação: {{ maquina.printEstadosDeAceitacao }}</li>
                    <li>Tabela de transições:
                    <table align="center" rules="all" style="border-collapse: collapse">
                        {% for dTran in maquina.dTransInTable %}
                            <tr>
                                {% for element in dTran %}
                                    {% if forloop.parentloop.first %}
                                        <th>{{ element }}</th>
                                    {% elif forloop.first %}
                                        <th>{{ element }}</th>
                                    {% else %}
                                        <td>{{ element }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                    </ul>
                </li>
                </td>
                <td class="align-baseline">
                    {% load static %}
                    <img src="{% static maquina.diagrama %}" alt="">
                    <p class="text-center">Diagrama de transições.</p>
                </td>
            </tr>
        </table>
        <br>
        <p><b>Validador:</b> Insira uma sequência e verifique se pertence à linguagem que a Máquina de Turing reconhece: </p>
        <form action="{% url 'computacao:maquina' maquina.id %}" method="POST">
            {% csrf_token %}
           <b>{{ form }}</b>
           <a href="{% url 'computacao:maquinas' %}" role="button" class="btn btn-warning">Cancelar</a>
            <input type="submit" value="validar" class="btn btn-success">
        </form>
        <br>
        {% if resultado != None %}
            {% if resultado == True %}
                <p>A sequência <b>{{ sequencia }}</b> é aceite pela Máquina de Turing </p>
            {% else %}
                <p>A sequência <b>{{ sequencia }}</b> não é aceite pela Máquina de Turing </p>
            {% endif %}
        {% else %}
            <br><br>
        {% endif %}
    </main>
    <aside class="col-sm-4 text-center">
        <br><br><br>
        {% load static %}
        <img src="{% static 'computacao/images/logo/turing-machine.png' %}" alt="">
        <br><br>
        <blockquote class="blockquote">
            <p class="mb-0">Uma máquina pode fazer o trabalho de cinquenta homens comuns.</p>
            <p class="mb-0">Nenhuma máquina pode fazer o trabalho de um homem extraordinário.</p>
            <footer class="blockquote-footer">Elbert Hubbard</footer>
        </blockquote>
    </aside>
{% endblock %}

{% block aside %}
{% endblock %}
